*{
    padding: 0;
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
.about{
    background: rgb(175,201,174);
    background: linear-gradient(135deg, rgba(175,201,174,1) 14%, rgba(255,238,177,1) 39%, rgba(89,174,182,1) 100%);
    height: 110vh;   
}
body{
    overflow-x: hidden;
}
.student1 img{
    position: relative;
    right: -125px;
    top: 20px;
    border-radius: 10px;

}
.student2 img{
    position:absolute;
    left: 240px;
    border-radius: 3%;
    top:990px;
}
.image figure::before {
	position: absolute;
	top: 200;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.image figure:hover::before {
	-webkit-animation: shine .95s;
	animation: shine .95s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.content h4{
    color:rgb(108, 182, 192);
    position:relative;
    font-size: 25px;
    left: -650px;
    bottom: 190px;
    font-family:'Courier New', Courier, monospace;
    text-align: right;
}
.content h2{
    position:relative;
    font-size: 35px;
    left: -350px;
    bottom: 190px;
    text-align: right;

}
span{
    color:rgb(197, 12, 126);
    text-shadow: rgb(252, 219, 247) 1px 0 10px;
    text-shadow: 5px 5px #f1ddee;

}
.content p{
    text-align: left;
    left: 650px;
    bottom: 170px;
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}
.more img{
    text-align: left;
    left: 650px;
    bottom: 130px;
    position: relative;
    margin:20px;
}
.header{
    position: relative;
    text-align: left;
    top:-330px;
    left: 750px;
    height: 7em;
}
.p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}
.mainpage{
    text-align: center;
    color: white;
    background-image: url("../Images/uni4.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 600px;
    min-width: 700px;
    max-height: 920px;
    max-width: 1400px;
}

.mainpage h3{
    position: absolute;
    top: 20%;
    transform: translate(240%,340%);
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
}
.mainpage h1{
    position: absolute;
    top: 25%;
    transform: translate(60%,90%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    letter-spacing: -.5px;
    background-color: rgba(0,0,0,.3);
}
.mainpage button{
    position: absolute;
    top: 65%;
    transform: translate(-60%,-35%);
    color: white;
    cursor: pointer;
    background-color: rgb(167, 64, 64);
    border: 0px;
    border-radius: 30px;
    padding: 9px 25px;
    transition: all 0.3sec ease 0s;
}
.mainpage button:hover{
    background-color: transparent;
}
.why{
    background: rgb(175,201,174);
    background: linear-gradient(135deg, rgba(175,201,174,1) 14%, rgba(255,238,177,1) 39%, rgba(89,174,182,1) 100%);
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 120%;
    padding: 100px 0px;
}
.title h4{
    color:rgb(72, 128, 136);
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
.title h2{
    font-size: 45px;
    text-align: center;
    width: 1130px;
    margin: 30px auto;
}
.learn{
    border-radius: 50%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 355px;
    width: 325px;
    padding: 20px 35px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    margin:15px;
    position:relative;
    overflow:hidden;
    text-align: center;
}
.card:hover{
    background-color: rgb(184, 202, 250);;
}
h5{
    color:rgb(7, 7, 7);
    font-size: 23px;
    margin-bottom: 15px;
    padding: 6px 6px;
}
.pra p{
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.Feedback{
    background-color: aliceblue;
    height:110vh;
}
.Feedback .title{
    position:relative;
    top: 60px;
}
.comment{
    display:flex;
    gap:40px;
    justify-content: center;
}
.comment-box{
    cursor: pointer;
    border-radius: 10px;
    background-color: #bcddad;;
	position: relative;
    top:90px;
    right:20px;
	padding: 35px;
    width: 350px;
    height:170px;
	color: rgb(0, 0, 0);
    text-align: center;
}
.comment-box::after{
    content: "";
	position: absolute;
	height: 25px;
	width: 25px;
	bottom: -25px;
	left: 90%;
	background-color: #cbcccf;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.std{
    display:flex;
    gap:250px;
    justify-content: center;
}
.names{
    display:flex;
    position: relative;
    top:120px;
    left:75px;
}
.names p{
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
}